.flex-container {
  background-color: rgb(190, 190, 231);
}

/* Flex Container 1 */
.flex-container-1 {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-container-1 .item1,
.flex-container-1 .item2,
.flex-container-1 .item3,
.flex-container-1 .item4,
.flex-container-1 .item5,
.flex-container-1 .item6,
.flex-container-1 .item7,
.flex-container-1 .item8 {
  flex: 1 1 20%;
  margin-top: 0;
  /* Remove extra space */
}

.flex-container-1 .item6 {
  order: 6;
}

.flex-container-1 .item7 {
  order: 7;
}

.flex-container-1 .item8 {
  order: 8;
}

/* Flex Container 2 */
.flex-container-2 {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.flex-container-2 .flex-item {
  flex: 1 1 20%;
}

.flex-container-2 .item6 {
  order: 6;
}

.flex-container-2 .item7 {
  order: 7;
}

.flex-container-2 .item8 {
  order: 8;
}

/* Flex Container 3 */
.flex-container-3 {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.flex-container-3 .flex-item {
  flex: 1 1 20%;
  /* Adjust size to fit two columns */
}

.flex-container-3 .item1,
.flex-container-3 .item2,
.flex-container-3 .item3,
.flex-container-3 .item4 {
  order: 1;
}

.flex-container-3 .item5,
.flex-container-3 .item6,
.flex-container-3 .item7,
.flex-container-3 .item8 {
  order: 2;
}

/* Flex Container 4 */
.flex-container-4 {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  gap: 10px;
}

.flex-container-4 .flex-item {
  flex: 0 0 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container-4 .item6,
.flex-container-4 .item7,
.flex-container-4 .item8 {
  order: -1;
}

.flex-container-4 .item6 {
  margin-left: 20%
}

.flex-container-4 .item8 {
  margin-right: 20%
}

.flex-container-4 .item1,
.flex-container-4 .item2,
.flex-container-4 .item3,
.flex-container-4 .item4,
.flex-container-4 .item5 {
  order: 2;
}




/* Flex Container 5 */
.flex-container-5 {
  height: 300px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  /* Align items to the bottom */
}

.flex-container-5 .flex-item {
  flex: 1 1 20%;
}

.flex-container-5 .item1,
.flex-container-5 .item3,
.flex-container-5 .item6 {
  height: 100px;
}

.flex-container-5 .item2,
.flex-container-5 .item8 {
  height: 150px;
}

.flex-container-5 .item4,
.flex-container-5 .item5,
.flex-container-5 .item7 {
  height: 80px;
}

/* Flex Container 6 */

.flex-container-6 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 300px;
  gap: 10px;
}

.flex-container-6 .flex-item {
  width: 100px;
  height: 62.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: purple;
  color: white;
  font-size: 24px;
}


/* use height: 300px; on the container */