.grid-container {
  display: grid;
  height: 97vh;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 2fr  1fr auto;
  gap: 10px;
  grid-template-areas:
    'header header'
    'aside article' 
    'section section'
    'footer footer';
}

.header {
  grid-area: header;
}

.article {
  grid-area: article;
}

.aside {
  grid-area: aside;
}

.section {
  grid-area: section;
}

.footer {
  grid-area: footer;
}
